@charset "ISO-8859-1";
#select{
	padding: 10px;
	background: #dddddd;
	width:20%;
}
.row{
	padding:10px;
}
#fotos img, li{
	width: 100px;
	display: block;
	margin: 5px;
}
#fotos{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
