<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<form class="box">
            <h2>Login</h2>
            <div class="login">
                <label for="">Usuario:</label>
                <i class="material-icons">assignment_ind</i>
                <input type="text" name="login" placeholder="Digite...">
            </div>
            <div class="login">
                <label for="">Senha:</label>
                <i class="material-icons">https</i>
                <input type="password" name="senha" placeholder="Digite...">
            </div>
            <a href="." id="cadastrar">Cadastrar</a>
            <button type="submit">Entrar</button>
      </form>
</body>
</html>