<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" href="formAdm.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="padrao.css">
</head>
<body>
	<form class="box">
            <h2>Login</h2>
            <div class="login">
                <label for="">Usuario:</label>
                <i class="material-icons">assignment_ind</i>
                <input type="text" name="email" placeholder="Digite...">
            </div>
            <div class="login">
                <label for="">Senha:</label>
                <i class="material-icons">https</i>
                <input type="password" name="senha" placeholder="Digite...">
            </div>
            <a href="." id="cad">Cadastrar</a>
            <div th:replace="fragments/mensagem"></div>
            <button type="submit">Entrar</button>
      </form>
</body>
</html>